<div class="col-md-6 pull-left">
  <div>
    <span class="large">Add new</span> - You can add a photo after adding details and saving.
  </div>
	<p>
	<br>

  <div>
		<form ng-submit="add(user)" ng-controller="userController">
			<div class="form-group">
				<label for="name">Name</label>
			  <input class="form-control" type="text" id="name" ng-model="user.name" name="name" placeholder="Name"/>
      </div>
      <div class="form-group">
				<label for="name">Phone</label>
			  <input class="form-control" type="text" id="phone" ng-model="user.phone" name="phone" placeholder="Phone"/>
			</div>
			<button class="btn btn-primary" type="submit" value="add">Add</button>
      <a ng-href="#/"><button class="btn btn-default" type="button" value="cancel">Cancel</button></a>
		</form>
  </div>
</div>

<script>
$("#name").focus();
</script>
