<h2>Users</h2>
<p>Users in Phonebook</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
			<td> <a ng-href="#/{{user.id}}"> {{user.id}}   </a> </td>
      <td> <a ng-href="#/{{user.id}}"> {{user.name}} </a> </td>
    </tr>
		<tr ng-if="users.length === 0">
			<td><strong>No users found, start by <a ng-href="#/add">adding new</a> </strong></td>
		</tr>
  </tbody>
</table>

<a ng-href="#/add"><button class="btn btn-default">Add new</button></a>
